[build.environment]
  NODE_VERSION = "18.19.1"
  NPM_FLAGS = "--legacy-peer-deps"

[build]
  command = "npm run build"
  publish = "out"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
