@reference "tailwindcss";

/* #region ANIMACION */
@keyframes moverGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.fondo-gradiente-login {
    @apply w-full h-screen bg-[length:200%_200%]  overflow-hidden relative;
    font-family: Poppins;
    background-image: linear-gradient(90deg,
            var(--green),
            var(--grey),
            var(--red));
    animation: moverGradiente 16s ease-in-out infinite;

}

/* #endregion */

@media (min-width: 0px) and (max-width: 500px){


.fondo-forms-login {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[90%] h-[70%] top-[5%] mx-auto content-center justify-center text-center px-10
    py-20
}

.titulo-login {
    @apply text-[50px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-login {
    @apply h-[80%] w-[90%] py-[10%] mx-auto
}

.contenedor-input-login {
    @apply w-full py-6 flex flex-col
}

.label-login {
    @apply font-[14px] font-semibold tracking-[1px]
}

.input-login {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[30px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-login:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}

.contenedor-checkbox-login {
    @apply flex items-center content-center h-[20px] gap-1
}

.checkbox-login {
    @apply w-4 h-4 accent-green-700
}

.contenedor-extra-login {
    @apply flex-row flex justify-around gap-15 my-2
}

.boton-forms-login {
    @apply bg-[#C10007] rounded-[5px] w-full h-[35px] text-white text-[14px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300
}

.link-login {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-login {
    @apply font-medium tracking-[0.5px] text-[12px]
}
}
@media (min-width: 501px) and (max-width: 1024px){


.fondo-forms-login {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[70%] h-[70%] top-[10%] mx-auto content-center justify-center text-center px-10
    py-20
}

.titulo-login {
    @apply text-[50px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-login {
    @apply h-[80%] w-[70%] py-[10%] mx-auto
}

.contenedor-input-login {
    @apply w-full py-6 flex flex-col
}

.label-login {
    @apply font-[14px] font-semibold tracking-[1px]
}

.input-login {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[30px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-login:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}

.contenedor-checkbox-login {
    @apply flex items-center content-center h-[20px] gap-1
}

.checkbox-login {
    @apply w-4 h-4 accent-green-700
}

.contenedor-extra-login {
    @apply flex-row flex justify-around gap-15 my-2
}

.boton-forms-login {
    @apply bg-[#C10007] rounded-[5px] w-full h-[35px] text-white text-[14px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300
}

.link-login {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-login {
    @apply font-medium tracking-[0.5px] text-[12px]
}    
}
@media (min-width: 1025px) and (max-width: 1500px){

.fondo-forms-login {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[50%] h-[60%] top-[20%] mx-auto content-center justify-center text-center p-10
}

.titulo-login {
    @apply text-[50px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-login {
    @apply h-[80%] w-[80%] py-[5%] mx-auto
}

.contenedor-input-login {
    @apply w-full py-6 flex flex-col
}

.label-login {
    @apply font-[14px] font-semibold tracking-[1px]
}

.input-login {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[30px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-login:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}

.contenedor-checkbox-login {
    @apply flex items-center content-center h-[20px] gap-1
}

.checkbox-login {
    @apply w-4 h-4 accent-green-700
}

.contenedor-extra-login {
    @apply flex-row flex justify-around gap-20 my-2
}

.boton-forms-login {
    @apply bg-[#C10007] rounded-[5px] w-full h-[35px] text-white text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300
}

.link-login {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-login {
    @apply font-medium tracking-[0.5px] text-[12px]
}
}
@media (min-width: 1501px) and (max-width: 2000px){


.fondo-forms-login {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[40%] h-[60%] top-[20%] mx-auto content-center justify-center text-center p-10
}

.titulo-login {
    @apply text-[55px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-login {
    @apply h-[80%] w-[70%] py-[5%] mx-auto
}

.contenedor-input-login {
    @apply w-full py-6 flex flex-col
}

.label-login {
    @apply font-[14px] font-semibold tracking-[1px]
}

.input-login {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[30px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-login:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}

.contenedor-checkbox-login {
    @apply flex items-center content-center h-[20px] gap-1
}

.checkbox-login {
    @apply w-4 h-4 accent-green-700
}

.contenedor-extra-login {
    @apply flex-row flex justify-around gap-30 my-2
}

.boton-forms-login {
    @apply bg-[#C10007] rounded-[5px] w-full h-[35px] text-white text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300
}

.link-login {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-login {
    @apply font-medium tracking-[0.5px] text-[12px]
}
}
@media (min-width: 2000px) {

.fondo-forms-login {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[40%] h-[60%] top-[15%] mx-auto content-center justify-center text-center p-10
}

.titulo-login {
    @apply text-[55px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-login {
    @apply h-[80%] w-[60%] py-[10%] mx-auto
}

.contenedor-input-login {
    @apply w-full py-5 flex flex-col
}

.label-login {
    @apply font-[18px] font-semibold tracking-[1px]
}

.input-login {
    @apply bg-[#F3F4F6]/90 rounded-[5px] mt-5 h-[40px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-login:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}

.contenedor-checkbox-login {
    @apply flex items-center content-center h-[20px] gap-1
}

.checkbox-login {
    @apply w-6 h-6 accent-green-700
}

.contenedor-extra-login {
    @apply flex-row flex justify-around gap-30 my-2 mt-5
}

.boton-forms-login {
    @apply bg-[#C10007] rounded-[5px] w-full h-[45px] text-white text-[20px] font-bold tracking-[2px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300
}

.link-login {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-login {
    @apply font-medium tracking-[0.5px] text-[16px]
}
}