@reference "tailwindcss";

@media (min-width: 0px) and (max-width: 500px) {
    .contenedor-titulo-hero {
        @apply  absolute inset-0 flex flex-col justify-center z-50
        px-[15%] mt-10 
    }
}

@media (min-width: 501px) and (max-width: 1024px) {
    .contenedor-titulo-hero {
        @apply absolute inset-0 flex flex-col justify-center z-50
         px-[10%]
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .contenedor-titulo-hero {
        @apply absolute inset-0 flex flex-col justify-center px-5 z-50
    }
}

@media (min-width: 1501px) and (max-width: 2000px) {
    .contenedor-titulo-hero {
        @apply absolute inset-0 flex flex-col justify-center px-[3%] z-50
    }
}

@media (min-width: 2001px){
    .contenedor-titulo-hero {
        @apply absolute inset-0 flex flex-col justify-center z-50 px-[15%]
    }
}