@reference "tailwindcss";
/* #region ANIMACION */
@keyframes moverGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.fondo-gradiente-singup {
    @apply w-full min-h-screen bg-[length:200%_200%] overflow-hidden relative;
    font-family: Poppins;
    background-image: linear-gradient(90deg,

            var(--grey),
            var(--red));
    animation: moverGradiente 16s ease-in-out infinite;

}



/* #endregion */

@media (min-width: 0px) and (max-width: 500px){

/* #region CONTENEDOR */
.vector-fondo-singup {
    @apply z-0 -translate-y-[20%] scale-400
}

.contenedor-pantalla-singup {
    @apply grid grid-cols-1 h-full
}
/* #endregion */

/* #region IZQUIERDA */

.contenedor-izquierdo-singup {
    @apply relative w-[100%] h-[60%] top-[20%] mx-auto content-start justify-center text-center z-20
}

.contenedor-logo-singup {
    @apply relative bg-white/50 p-10 rounded-[20px] w-[90%] mx-auto
}

.contenedor-texto-singup {
    @apply w-[80%] mx-auto font-medium text-[14px] text-white mt-[5%]
}

/* #endregion */

/* #region DERECHA */

.fondo-forms-singup {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[90%] h-[80%] 
    top-[10%] mx-auto content-center justify-center text-center p-1 z-20 mb-[50%]
}

.titulo-singup {
    @apply text-[40px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-singup {
    @apply h-[90%] w-[95%] py-[5%] mx-auto 
}

.contenedor-input-singup {
    @apply w-full flex flex-col
}

.label-singup {
    @apply font-[14px] font-semibold tracking-[1px] mt-[5%]
}

.input-singup {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[40px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-singup:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}

.boton-forms-singup {
    @apply col-span-2 bg-[#C10007] rounded-[5px] w-[80%] h-[45px] text-white text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300 mx-auto
}

.link-singup {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-singup {
    @apply font-medium tracking-[0.5px] text-[13px] col-span-2 h-[20px]
    
}

/* #endregion */

}

@media (min-width: 501px) and (max-width: 1024px){

/* #region CONTENEDOR */
.vector-fondo-singup {
    @apply z-0 -translate-y-[20%] scale-200
}

.contenedor-pantalla-singup {
    @apply grid grid-cols-1 h-full
}
/* #endregion */

/* #region IZQUIERDA */

.contenedor-izquierdo-singup {
    @apply relative w-[100%] h-[60%] top-[20%] mx-auto justify-center text-center z-20
}

.contenedor-logo-singup {
    @apply flex bg-white/50 p-10 rounded-[20px] w-[90%] mx-auto items-center justify-center
}

.contenedor-texto-singup {
    @apply w-[60%] mx-auto font-medium text-[16px] text-white mt-[5%]
}

/* #endregion */

/* #region DERECHA */

.fondo-forms-singup {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[90%] h-[80%] 
    top-[6%] mx-auto content-center justify-center text-center p-5 z-20 mb-[40%]
}

.titulo-singup {
    @apply text-[40px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-singup {
    @apply h-[90%] w-[95%]  mx-auto 
}

.contenedor-input-singup {
    @apply w-full flex flex-col
}

.label-singup {
    @apply font-[14px] font-semibold tracking-[1px] mt-[5%]
}

.input-singup {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[40px] w-[80%] mx-auto;
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-singup:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}

.boton-forms-singup {
    @apply col-span-2 bg-[#C10007] rounded-[5px] w-[80%] h-[45px] text-white text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300 mx-auto
}

.link-singup {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-singup {
    @apply font-medium tracking-[0.5px] text-[13px] col-span-2 h-[20px]
    
}

/* #endregion */

}

@media (min-width: 1025px) and (max-width: 1500px){

/* #region ANIMACION */


.fondo-gradiente-singup {
    @apply w-full h-screen bg-[length:200%_200%] overflow-hidden relative;
    font-family: Poppins;
    background-image: linear-gradient(90deg,

            var(--grey),
            var(--red));
    animation: moverGradiente 16s ease-in-out infinite;

}

.grafico1-singup {
    @apply w-[80%] h-full
}

.grafico2-singup {
    @apply w-[80%] h-full translate-x-[20%]
}

/* #endregion */

/* #region CONTENEDOR */
.vector-fondo-singup {
    @apply z-0 -translate-x-[10%] scale-125
}

.contenedor-pantalla-singup {
    @apply grid grid-cols-2 h-full
}
/* #endregion */

/* #region IZQUIERDA */

.contenedor-izquierdo-singup {
    @apply relative w-[80%] h-[60%] top-[20%] mx-auto content-start justify-center text-center z-20
}

.contenedor-logo-singup {
    @apply relative bg-white/50 p-10 rounded-[20px] w-[80%] mx-auto
}

.contenedor-texto-singup {
    @apply w-[50%] mx-auto font-medium text-[20px] text-white mt-[10%]
}

/* #endregion */

/* #region DERECHA */

.fondo-forms-singup {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[80%] h-[70%] top-[20%] mx-auto content-center justify-center text-center p-10 z-20
}

.titulo-singup {
    @apply text-[50px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-singup {
    @apply h-[90%] w-[100%] py-[1%] mx-auto grid grid-cols-2 gap-4
}

.contenedor-input-singup {
    @apply w-full flex flex-col
}

.label-singup {
    @apply font-[14px] font-semibold tracking-[1px]
}

.input-singup {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[40px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-singup:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}


.boton-forms-singup {
    @apply col-span-2 bg-[#C10007] rounded-[5px] w-[80%] h-[45px] text-white text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300 mx-auto
}

.link-singup {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-singup {
    @apply font-medium tracking-[0.5px] text-[12px] col-span-2 h-[20px]
    -translate-y-[100%]
}

/* #endregion */
}

@media (min-width: 1501px) and (max-width: 2000px){

/* #region ANIMACION */
@keyframes moverGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.fondo-gradiente-singup {
    @apply w-full h-screen bg-[length:200%_200%] overflow-hidden relative;
    font-family: Poppins;
    background-image: linear-gradient(90deg,

            var(--grey),
            var(--red));
    animation: moverGradiente 16s ease-in-out infinite;

}

.grafico1-singup {
    @apply w-[80%] h-full
}

.grafico2-singup {
    @apply w-[80%] h-full translate-x-[20%]
}

/* #endregion */

/* #region CONTENEDOR */
.vector-fondo-singup {
    @apply z-0 -translate-x-[10%] scale-125
}

.contenedor-pantalla-singup {
    @apply grid grid-cols-2 h-full
}
/* #endregion */

/* #region IZQUIERDA */

.contenedor-izquierdo-singup {
    @apply relative w-[80%] h-[60%] top-[20%] mx-auto content-start justify-center text-center z-20
}

.contenedor-logo-singup {
    @apply relative bg-white/50 p-10 rounded-[20px] w-[80%] mx-auto
}

.contenedor-texto-singup {
    @apply w-[50%] mx-auto font-medium text-[20px] text-white mt-[10%]
}

/* #endregion */

/* #region DERECHA */

.fondo-forms-singup {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[80%] h-[70%] top-[20%] mx-auto content-center justify-center text-center p-10 z-20
}

.titulo-singup {
    @apply text-[55px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-singup {
    @apply h-[90%] w-[95%] py-[1%] mx-auto grid grid-cols-2 gap-10
}

.contenedor-input-singup {
    @apply w-full flex flex-col
}

.label-singup {
    @apply font-[14px] font-semibold tracking-[1px]
}

.input-singup {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[40px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-singup:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}


.boton-forms-singup {
    @apply col-span-2 bg-[#C10007] rounded-[5px] w-[80%] h-[45px] text-white text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300 mx-auto
}

.link-singup {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-singup {
    @apply font-medium tracking-[0.5px] text-[12px] col-span-2 h-[20px]
    -translate-y-[100%]
}

/* #endregion */
}
@media (min-width: 2000px){

/* #region ANIMACION */

.fondo-gradiente-singup {
    @apply w-full h-screen bg-[length:200%_200%] overflow-hidden relative;
    font-family: Poppins;
    background-image: linear-gradient(90deg,

            var(--grey),
            var(--red));
    animation: moverGradiente 16s ease-in-out infinite;

}

.grafico1-singup {
    @apply w-[80%] h-full
}

.grafico2-singup {
    @apply w-[80%] h-full translate-x-[20%]
}

/* #endregion */

/* #region CONTENEDOR */
.vector-fondo-singup {
    @apply z-0 -translate-x-[10%] scale-125
}

.contenedor-pantalla-singup {
    @apply grid grid-cols-2 h-full
}
/* #endregion */

/* #region IZQUIERDA */

.contenedor-izquierdo-singup {
    @apply relative w-[80%] h-[60%] top-[20%] mx-auto content-start justify-center text-center z-20
}

.contenedor-logo-singup {
    @apply flex justify-center bg-white/50 p-10 rounded-[20px] w-[80%] mx-auto
}

.contenedor-texto-singup {
    @apply w-[50%] mx-auto font-medium text-[25px] text-white mt-[5%]
}

/* #endregion */

/* #region DERECHA */

.fondo-forms-singup {
    @apply relative bg-[#F3F4F6]/80 rounded-[20px] w-[80%] h-[70%] top-[20%] mx-auto content-center justify-center text-center p-10 z-20
}

.titulo-singup {
    @apply text-[60px] font-[700] tracking-[12px];
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-singup {
    @apply h-[90%] w-[95%] py-[7%] mx-auto grid grid-cols-2 gap-10
}

.contenedor-input-singup {
    @apply w-full flex flex-col
}

.label-singup {
    @apply font-[18px] font-semibold tracking-[1px]
}

.input-singup {
    @apply bg-[#F3F4F6]/90 rounded-[5px] h-[40px];
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-singup:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}


.boton-forms-singup {
    @apply col-span-2 bg-[#C10007] rounded-[5px] w-[80%] h-[45px] text-white text-[20px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-[#8b0106] transition duration-300 mx-auto
}

.link-singup {
    @apply font-bold hover:text-[#127704] duration-100 transition
}

.informacion-singup {
    @apply font-medium tracking-[0.5px] text-[18px] col-span-2 h-[20px]
    -translate-y-[100%]
}

/* #endregion */
}