@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --green: #008235;
  --red: #C10007;
  --grey: #979797;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

/* Tamaño general para imágenes del logo */
img.Logo.svg {
  width: 120px;
  height: auto;
  object-fit: contain;
}
/* En tu globals.css */
/* En globals.css */
.hero-banner {
  background-image: url("/img/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  img.logo.svg {
    width: 100px;
  }
}
/* globals.css */
.box-image {
  width: 280px;
  height: 280px;
}

@media (min-width: 768px) {
  .box-image {
    width: 340px;
    height: 340px;
  }
}
html {
  scroll-behavior: smooth;
}
