@reference "tailwindcss";

.section {
    @apply w-full h-[90%];

}

.contenedor-texto {
    @apply grid grid-cols-2 top-[10%] gap-10 w-[50%] h-[20%] mx-auto;
}

.texto-inf {
    @apply text-end mt-2;
}

.contenedor-imagen {
    @apply relative w-full h-screen font-[Poppins] translate-y-[20%] justify-center items-center
}

.img-fondo {
    @apply absolute w-[200%] z-0 translate-y-[-40%];
}

.contenedor-tabla {
    @apply relative z-30 grid grid-cols-3 bg-[#f7f7f7] content-center w-[45%] rounded-3xl mx-auto mt-20 shadow-2xl overflow-hidden;
    background-image: url('/img/mex-usa/fondo-tabla.svg');
    background-size: 120%;
    background-position: 50% 35%;
    background-repeat: no-repeat;
}

.contenedor-titulo {
    @apply bg-[#cc2035] mx-[27%] rounded-4xl text-white font-bold text-[50px] text-center px-1
}

.contenedor-fila {
    @apply col-span-3 grid-cols-3 grid bg-[#cc2035] rounded-t-3xl text-[25px] font-semibold text-white px-10 text-center pt-10 pb-3 
}

.primera-col {
    @apply text-[#cc2035] text-start text-[19px] py-3 px-10 border-r-2 border-black/40
    border-b-2 
}

.segunda-col {
    @apply text-[#3f3f3f] text-center text-[19px] py-3 font-normal border-r-2 border-black/40
    border-b-2 
}

.tercera-col {
    @apply text-[#187a0b] text-end text-[19px] py-3 font-extrabold px-10
    border-b-2 border-black/40
}

@media (min-width: 1080px) and (max-width: 1535px) {
    .img-fondo {
        @apply hidden
    }

    .contenedor-tabla {
        @apply w-[95%];

    }

}

@media (max-width: 1080px) {
    .img-fondo {
        @apply hidden
    }

    .contenedor-titulo {
        @apply bg-[#cc2035] mx-[10%] text-[25px] text-center px-5 py-10
    }

    .contenedor-tabla {
        @apply relative z-30 grid grid-cols-1 content-center w-[95%] rounded-3xl mx-auto mt-18 shadow-2xl;
        background-size: 0%;

    }

    .contenedor-fila {
        @apply grid bg-[#127704] text-[18px] px-2
    }

    .primera-col {
        @apply text-start text-[15px] py-3 px-10
    }

    .segunda-col {
        @apply text-start text-[15px] py-3
    }

    .tercera-col {
        @apply text-end text-[15px] py-3
    }

}