@reference "tailwindcss";

.section-hd {
    @apply w-full h-[120%] font-[Poppins] ;

}

.fondo-hd {
    @apply h-[100%] w-auto bg-gradient-to-b from-[#b5acc1] to-[#e03857];

}

.titulo-hd {
    @apply mx-[27%] rounded-4xl text-white font-bold text-[50px] text-center px-1 mb-10 text-shadow-lg
}

.img-cajas-hd {
    @apply   mx-auto mb-2
}

.img-cajas-2-hd{
    @apply mx-auto w-[90%] mb-10
}

.contenedor-cajas-hd{
    @apply grid grid-cols-3 mx-auto w-[50%] 
}