@reference "tailwindcss";

.section-hero {
    @apply w-full h-screen font-[Poppins] bg-[#ebf2fa] overflow-hidden ;

}

.contenedor-section {
    @apply  w-full h-full ;

}

.img-derecha {
    @apply  block translate-x-[75%]
}

.img-izq {
    @apply absolute rotate-270 translate-x-[-15%] translate-y-[21%]
}

.img-fondo {
    @apply z-0 opacity-50 h-[100%] w-full mt-[15%]
}

.contenedor-central {
    @apply grid grid-rows-3 absolute top-[60%] left-1/3 gap-5 w-[50%] h-[60%] -translate-x-[30%] -translate-y-1/2;
}

.img-bandera {
    @apply flex justify-start items-start w-[30%] h-[90%];
}

.titulo-texto {
    @apply text-[60px] font-semibold text-[#4d4d4d] text-start leading-tight font-[Poppins]
}

.subtexto {
    @apply text-[30px] font-light text-[#4d4d4d] text-start leading-tight font-[Poppins]
}

@media (min-width: 2000px) {
    .img-derecha {
        transform: translateX(59%);
    }


}

@media (min-width: 768px) and (max-width: 1535px) {

    .img-derecha {
        @apply hidden
    }

    .titulo-texto {
        @apply text-[50px] mt-10
    }

    .subtexto {
        @apply text-[30px] translate-y-[35%]
    }

    .contenedor-central {
        @apply top-[60%] w-[90%] h-[60%] translate-x-[-15%]
    }

    .img-bandera {
        @apply hidden
    }

}


@media (max-width: 1080px) {
    .img-derecha {
        @apply hidden
    }


    .img-bandera {
        @apply hidden
    }

    .contenedor-central {
        @apply top-[60%] w-[70%] h-[60%] translate-x-[-15%]
    }

    .titulo-texto {
        @apply text-[40px] mt-10
    }

    .subtexto {
        @apply text-[20px] translate-y-[35%]
    }
}