@reference "tailwindcss";


.fondo-gradiente-singup {
    @apply w-full h-screen bg-[length:200%_200%] relative;
    font-family: Poppins;
}

/* #region CONTENEDOR */

.contenedor-pantalla-singup {
    @apply h-full mt-20
}

/* #endregion */

/* #region IZQUIERDA */
.contenedor-logo-singup {
    @apply relative bg-white/50 p-10 rounded-[20px] w-[60%] mx-auto grid grid-cols-2 content-center items-center justify-center
}

/* #endregion */

/* #region DERECHA */

.fondo-forms-singup {
    @apply relative bg-[#127704]/90 rounded-[20px] w-[60%] h-[60%] top-[2%] mx-auto p-10 z-20
}

.titulo-singup {
    @apply text-[55px] font-[700] tracking-[7px] text-end;
    text-shadow: -2px 4px 3.5px rgba(0, 0, 0, 0.25);
}

.contenedor-forms-singup {
    @apply h-[80%] w-[80%] py-[1%] mx-auto gap-10
}
.contenedor-forms-singup-2 {
    @apply h-[80%] w-[80%] py-[10%] mx-auto gap-10
}

.contenedor-input-singup {
    @apply w-full grid grid-cols-3 mt-5
}

.contenedor-input-singup-2 {
    @apply w-full grid grid-cols-3 mt-10
}

.contenedor-paso-singup {
    @apply w-full grid grid-cols-2 mt-10
}

.label-singup {
    @apply font-[14px] font-semibold tracking-[1px] text-center text-white justify-center items-center relative content-center
}

.input-singup {
    @apply bg-white rounded-[25px] h-[40px] col-span-2;
    box-shadow: -3px 6px 5px 0 rgba(0, 0, 0, 0.25);
}

.input-singup:focus {
    @apply ring-2 ring-[var(--red)] outline-none transition-all duration-300
}


.boton-forms-singup {
    @apply relative bg-white rounded-[15px] w-[40%] h-[45px] text-red-500 text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-red-600 hover:text-white transition duration-300 mx-auto col-span-3
}

.boton-forms-paso {
    @apply relative bg-white rounded-[15px] w-[40%] h-[45px] text-red-500 text-[16px] font-bold tracking-[0.7px] mt-10 mb-5 hover:bg-red-600 hover:text-white transition duration-300 mx-auto 
}

.link-singup {
    @apply font-bold hover:text-white duration-100 transition
}

.informacion-singup {
    @apply font-medium tracking-[0.5px] text-[12px] col-span-2 h-[20px] -translate-y-[100%]
}

/* #endregion */